<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Pessoas disponíveis para negociações</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        CPF
                                    </th>
                                    <th>
                                        Nome
                                    </th>
                                    <th>
                                        E-Mail
                                    </th>
                                    <th>
                                        Telefone
                                    </th>
                                    <th>
                                        CEP
                                    </th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            41514948450
                                        </td>
                                        <td>
                                            Maria Aparecida
                                        </td>
                                        <td>
                                            mariaap2019@hotmail.com
                                        </td>
                                        <td>
                                            11968148419
                                        </td>
                                        <td>
                                            04180-112
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title mt-0">Pessoas indisponíveis para negociações</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class=" text-primary">
                                    <th>
                                        CPF
                                    </th>
                                    <th>
                                        Nome
                                    </th>
                                    <th>
                                        E-Mail
                                    </th>
                                    <th>
                                        Telefone
                                    </th>
                                    <th>
                                        CEP
                                    </th>
                                    <th>
                                        Motivo
                                    </th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            48944548740
                                        </td>
                                        <td>
                                            Ana Maria Ferreira
                                        </td>
                                        <td>
                                            anamp1@gmail.com
                                        </td>
                                        <td>
                                            11948152115
                                        </td>
                                        <td>
                                            04236-094
                                        </td>
                                        <td>
                                            Já possui friba e telefone
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>